body{
	margin:0;
	padding:0;
	font-size:18px;
	font-family: 'Hahmlet', serif;
}

p,ul,li{
	margin:0;
	padding:0;
}
h1{
	font-size: 50px

}
h2{
	font-size: 40px
}
h3{
	font-size: 35px
}
h4{
	font-size: 30px
}
h5{
	font-size: 25px
}
h6{
	font-size: 20px
}

/*these styles are for all*/
.flex-column{
	display:flex;
	flex-direction:column;
	list-style:none;
}
.flex-row{
	display:flex;
	flex-direction:row;
}
.flex-wrap{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
}
.flex-space{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.list{
	list-style:none;
	display:flex;
	
}
/*navigation*/
.navigation{
	position: fixed;
	width: 100%;
	top: 0;
    background: #fff;
    z-index: 100;
    box-shadow: 0 3px 6px 0 #8888;
}
.is-20{
	width: 20%;
}
.is-80{
	width: 76%;
}
i.fas {
    margin-left: 6px;
    font-size: 14px;
}
.in-navigation .logo{
    padding: 10px 15px;
    font-size: 22px;
}
.in-navigation .logo img{
	width: 32%;
    max-width: 32%;
}
.in-navigation {
    align-items: center;
}
.in-navigation  .navbar{
    font-size: 20px;
    justify-content: flex-end;

}
 
.navbar ul li {
    margin: 0 23px;
    font-size: 16px;
    position: relative;
}
.navbar ul li a{
    color: #000;
    font-size: 18px;
    text-decoration: none;
    display: block;
}
.navbar ul li:hover::after {
    content: "";
    height: 2px;
    display: block;
    background-color: #db4437;
    width: 100%;
    position: absolute;
    bottom: -5px;
    left: 0px;
    z-index: 19;
}

.mobile-icon {
    color: #000;
    display: none;
}

.mobile-icon a {
    color: #000;
    float: right;
    position: relative;
}
.mobile-icon .drop-down{
	display: none;
}
/*mobile-nav*/
.mobile-nav {
	display: none;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 30;
}
#mobile-nav {
	display: none;
	transition: 0.3s ease-in-out;
}
#mobile-nav.active {
	display: block;
	transition: 0.3s ease-in-out;
}
.drop-down ul li {
    padding: 12px 10px;
    background-color: #fff;
    border-bottom: 1px solid #000;
}
.drop-down ul li a {
    color: #000;
    text-decoration: none;
}
/*header*/
.header {
    padding-top: 90px;
}
.in-header h2 {
    font-size: 50px;
    color: #797777;
    text-align: center;
    margin: 20px 0;
}
.in-header p {
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}
.in-header p span {
    display: block;
}
.small-heading {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
}
.small-heading::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 2px;
    background: #696666;
    bottom: -8px;
    left: 0;
}

#learn-video {
    display: block;
    text-align: center;
    margin: 45px 0;
}

#learn-video iframe {
    border: none;
    width: 66%;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 #8888;
}

/*testing-section*/
.testing-section {
    padding: 40px 0;
    background-color: #F1EAEA;
}
.in-testing p {
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 30px;
}
.test-input {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}
.test-input #test-code {
    width: 90%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

.run {
    color: #fff;
    background: green;
    border: 1px solid green;
    padding: 8px 20px;
    width: 20%;
    margin: 20px 0;
    transition: 0.2s ease-in-out;
}
.run:hover {
    color: green;
    background-color: #fff;
    transition: 0.2s ease-in-out;
}

.in-testing .example-image {
    position: relative;
    padding: 20% 0;
    overflow: hidden;
    border-radius: 5px;
}
.in-testing .example-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    z-index: 10;
}
/*array*/
.array {
    padding: 40px 0;
}
.in-array p {
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 30px;
}
.in-array p span {
    display: block;
}

.in-array #test-code {
    border: 1px solid #ccc;
}
.in-array .example-image {
    position: relative;
    padding: 20% 0;
    overflow: hidden;
    border-radius: 5px;
}
.in-array .example-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
    z-index: 10;
}

#learn-video-2 {
    display: block;
    text-align: center;
    margin: 45px 0;
}
#learn-video-2  iframe {
    border: none;
    width: 66%;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 #8888;
}
/*complete-code */
.complete-code {
    padding: 40px 0;
    background-color: #F1EAEA;
}
.complete-code p {
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 30px;
}
.complete-code p span {
    display: block;
}
#test-code-2 {
    width: 90%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

/*media query*/
@media screen and  (min-width: 1920px) {
	body{
		font-size:20px;
	}
}
@media screen and  (max-width: 1250px) {
	body{
		font-size:16px;
	}
	h1{
		font-size: 46px

	}
	h2{
		font-size: 36px
	}
	h3{
		font-size: 31px
	}
	h4{
		font-size: 26px
	}
	h5{
		font-size: 21px
	}
	h6{
		font-size: 18px
	}
}
@media screen and  (max-width: 900px) {
	body{
		font-size:16px;
	}
	h1{
		font-size: 42px

	}
	h2{
		font-size: 32px
	}
	h3{
		font-size: 27px
	}
	h4{
		font-size: 22px
	}
	h5{
		font-size: 20px
	}
	h6{
		font-size: 18px
	}
	.navbar ul li {
	    display: none;
	}
	.mobile-icon {
	    display: block;
	}
	#learn-video iframe{
		width: 100%;
	}

	#test-code-2 {
	    width: 100%;
	}
	#learn-video-2 iframe{
		 width: 100%;
	}
	.test-input #test-code {
	    width: 100%;
	}
	.in-array #test-code {
	    width: 100%;
	}
}
@media screen and (max-width: 750px){
	body{
		font-size:14px;
	}
	h1{
		font-size: 38px

	}
	h2{
		font-size: 28px
	}
	h3{
		font-size: 23px
	}
	h4{
		font-size: 20px
	}
	h5{
		font-size: 18px
	}
	h6{
		font-size: 16px
	}
	.navbar ul li {
	    display: none;
	}
	.mobile-icon {
	    display: block;
	}
	#learn-video iframe{
		width: 100%;
	}
	#test-code-2 {
	    width: 100%;
	}
	#learn-video-2 iframe{
		 width: 100%;
	}
	.test-input #test-code {
	    width: 100%;
	}
	.in-array #test-code {
	    width: 100%;
	}
}
@media screen and (max-width: 550px) {
	body{
		font-size:12px;
	}
	h1{
		font-size: 36px

	}
	h2{
		font-size: 24px
	}
	h3{
		font-size: 21px
	}
	h4{
		font-size: 18px
	}
	h5{
		font-size: 16px
	}
	h6{
		font-size: 15px
	}
	.navbar ul li {
	    display: none;
	}
	.mobile-icon {
	    display: block;
	}
	#learn-video iframe{
		width: 100%;
	}
	#test-code-2 {
	    width: 100%;
	}
	#learn-video-2 iframe{
		 width: 100%;
	}
	.test-input #test-code {
	    width: 100%;
	}
	.in-array #test-code {
	    width: 100%;
	}
}